.tablepress-id-7 .column-4 {
	text-align: center;
}

.tablepress-id-7 .column-5 {
	text-align: center;
}

.tablepress-id-7 .column-6 {
	text-align: center;
}

.tablepress-id-8 .column-4 {
	text-align: center;
}

.tablepress-id-8 .column-5 {
	text-align: center;
}

.tablepress-id-8 .column-6 {
	text-align: center;
}

.tablepress-id-9 .column-4 {
	text-align: center;
}

.tablepress-id-9 .column-5 {
	text-align: center;
}

.tablepress-id-9 .column-6 {
	text-align: center;
}

.tablepress-id-10 .column-4 {
	text-align: center;
}

.tablepress-id-10 .column-5 {
	text-align: center;
}

.tablepress-id-10 .column-6 {
	text-align: center;
}

.tablepress-id-11 .column-4 {
	text-align: center;
}

.tablepress-id-11 .column-5 {
	text-align: center;
}

.tablepress-id-11 .column-6 {
	text-align: center;
}

.tablepress-id-12 .column-4 {
	text-align: center;
}

.tablepress-id-12 .column-5 {
	text-align: center;
}

.tablepress-id-12 .column-6 {
	text-align: center;
}

.tablepress-id134 .column-4 {
	text-align: center;
}

.tablepress-id-13 .column-5 {
	text-align: center;
}

.tablepress-id-13 .column-6 {
	text-align: center;
}

.tablepress-id-14 .column-4 {
	text-align: center;
}

.tablepress-id-14 .column-5 {
	text-align: center;
}

.tablepress-id-14 .column-6 {
	text-align: center;
}

.tablepress-id-15 .column-4 {
	text-align: center;
}

.tablepress-id-15 .column-5 {
	text-align: center;
}

.tablepress-id-15 .column-6 {
	text-align: center;
}

.tablepress-id-16 .column-4 {
	text-align: center;
}

.tablepress-id-16 .column-5 {
	text-align: center;
}

.tablepress-id-16 .column-6 {
	text-align: center;
}

.tablepress-id-17 .column-4 {
	text-align: center;
}

.tablepress-id-17 .column-5 {
	text-align: center;
}

.tablepress-id-17 .column-6 {
	text-align: center;
}

.tablepress-id-19 .column-4 {
	text-align: center;
}

.tablepress-id-19 .column-5 {
	text-align: center;
}

.tablepress-id-19 .column-6 {
	text-align: center;
}

.tablepress-id-20 .column-4 {
	text-align: center;
}

.tablepress-id-20 .column-5 {
	text-align: center;
}

.tablepress-id-20 .column-6 {
	text-align: center;
}

.tablepress-id-21 .column-4 {
	text-align: center;
}

.tablepress-id-21 .column-5 {
	text-align: center;
}

.tablepress-id-21 .column-6 {
	text-align: center;
}

.tablepress-id-22 .column-4 {
	text-align: center;
}

.tablepress-id-22 .column-5 {
	text-align: center;
}

.tablepress-id-22 .column-6 {
	text-align: center;
}

.tablepress-id-23 .column-4 {
	text-align: center;
}

.tablepress-id-23 .column-5 {
	text-align: center;
}

.tablepress-id-23 .column-6 {
	text-align: center;
}

.tablepress-id-24 .column-4 {
	text-align: center;
}

.tablepress-id-24 .column-5 {
	text-align: center;
}

.tablepress-id-24 .column-6 {
	text-align: center;
}

.tablepress-id-25 .column-4 {
	text-align: center;
}

.tablepress-id-25 .column-5 {
	text-align: center;
}

.tablepress-id-25 .column-6 {
	text-align: center;
}

.tablepress-id-26 .column-4 {
	text-align: center;
}

.tablepress-id-26 .column-5 {
	text-align: center;
}

.tablepress-id-26 .column-6 {
	text-align: center;
}

.tablepress-id-27 .column-4 {
	text-align: center;
}

.tablepress-id-27 .column-5 {
	text-align: center;
}

.tablepress-id-27 .column-6 {
	text-align: center;
}

.tablepress-id-28 .column-4 {
	text-align: center;
}

.tablepress-id-28 .column-5 {
	text-align: center;
}

.tablepress-id-28 .column-6 {
	text-align: center;
}

.tablepress-id-30 .column-4 {
	text-align: center;
}

.tablepress-id-30 .column-5 {
	text-align: center;
}

.tablepress-id-30 .column-6 {
	text-align: center;
}

.tablepress-id-31 .column-4 {
	text-align: center;
}

.tablepress-id-31 .column-5 {
	text-align: center;
}

.tablepress-id-31 .column-6 {
	text-align: center;
}

.tablepress-id-32 .column-4 {
	text-align: center;
}

.tablepress-id-32 .column-5 {
	text-align: center;
}

.tablepress-id-32 .column-6 {
	text-align: center;
}

.tablepress-id-33 .column-4 {
	text-align: center;
}

.tablepress-id-33 .column-5 {
	text-align: center;
}

.tablepress-id-33 .column-6 {
	text-align: center;
}

.tablepress-id-34 .column-4 {
	text-align: center;
}

.tablepress-id-34 .column-5 {
	text-align: center;
}

.tablepress-id-34 .column-6 {
	text-align: center;
}

.tablepress-id-35 .column-4 {
	text-align: center;
}

.tablepress-id-35 .column-5 {
	text-align: center;
}

.tablepress-id-35 .column-6 {
	text-align: center;
}

.tablepress-id-36 .column-4 {
	text-align: center;
}

.tablepress-id-36 .column-5 {
	text-align: center;
}

.tablepress-id-36 .column-6 {
	text-align: center;
}

.tablepress-id-37 .column-4 {
	text-align: center;
}

.tablepress-id-37 .column-5 {
	text-align: center;
}

.tablepress-id-37 .column-6 {
	text-align: center;
}

.tablepress-id-38 .column-4 {
	text-align: center;
}

.tablepress-id-38 .column-5 {
	text-align: center;
}

.tablepress-id-38 .column-6 {
	text-align: center;
}

.tablepress-id-39 .column-4 {
	text-align: center;
}

.tablepress-id-39 .column-5 {
	text-align: center;
}

.tablepress-id-39 .column-6 {
	text-align: center;
}

.tablepress-id-40 .column-4 {
	text-align: center;
}

.tablepress-id-40 .column-5 {
	text-align: center;
}

.tablepress-id-40 .column-6 {
	text-align: center;
}

.tablepress-id-41 .column-4 {
	text-align: center;
}

.tablepress-id-41 .column-5 {
	text-align: center;
}

.tablepress-id-41.column-6 {
	text-align: center;
}

.tablepress-id-42 .column-4 {
	text-align: center;
}

.tablepress-id-42 .column-5 {
	text-align: center;
}

.tablepress-id-42 .column-6 {
	text-align: center;
}

.tablepress-id-43 .column-4 {
	text-align: center;
}

.tablepress-id-43 .column-5 {
	text-align: center;
}

.tablepress-id-43 .column-6 {
	text-align: center;
}

.tablepress-id-44 .column-4 {
	text-align: center;
}

.tablepress-id-44 .column-5 {
	text-align: center;
}

.tablepress-id-44 .column-6 {
	text-align: center;
}

.tablepress-id-45 .column-4 {
	text-align: center;
}

.tablepress-id-45 .column-5 {
	text-align: center;
}

.tablepress-id-45 .column-6 {
	text-align: center;
}

.tablepress-id-46 .column-4 {
	text-align: center;
}

.tablepress-id-46 .column-5 {
	text-align: center;
}

.tablepress-id-46 .column-6 {
	text-align: center;
}

.tablepress-id-47 .column-4 {
	text-align: center;
}

.tablepress-id-47 .column-5 {
	text-align: center;
}

.tablepress-id-47 .column-6 {
	text-align: center;
}

.tablepress-id-48 .column-4 {
	text-align: center;
}

.tablepress-id-48 .column-5 {
	text-align: center;
}

.tablepress-id-48 .column-6 {
	text-align: center;
}

.tablepress-id-49 .column-4 {
	text-align: center;
}

.tablepress-id-49 .column-5 {
	text-align: center;
}

.tablepress-id-49 .column-6 {
	text-align: center;
}