/**
 * Hooks admin screen styles.
 *
 * @since 1.0.0
 */
.wordpoints-dynamic-points .wordpoints-dynamic-points-button-line {
  width: 100%;
  margin-bottom: -17px;
  margin-top: 34px;
}

.wordpoints-dynamic-points .wordpoints-dynamic-points-enable,
.wordpoints-dynamic-points .wordpoints-dynamic-points-disable {
  margin-bottom: 12px;
}

.wordpoints-dynamic-points .wordpoints-dynamic-points-disable,
.wordpoints-dynamic-points .wordpoints-dynamic-points-settings {
  display: none;
}
